<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

       <!-- 静态资源 -->
       <mvc:resources location="/WEB-INF/js/" mapping="/js/**"></mvc:resources>
       <mvc:resources location="/WEB-INF/images/" mapping="/images/**"></mvc:resources>
       <mvc:resources location="/WEB-INF/css/" mapping="/css/**"></mvc:resources>

       <!--映射器和适配器-->
       <mvc:annotation-driven/>


       <context:component-scan base-package="controller"/>
       <!--视图解析器-->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <property name="prefix" value="/WEB-INF/jsp/"/>
              <property name="suffix" value=".jsp"/>
       </bean>
    <!--配置拦截器  拦截所有请求-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="intercepter.OrderIntercepter"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--   &lt;!&ndash;配置文件上传&ndash;&gt;
       &lt;!&ndash; 文件上传 &ndash;&gt;
       <bean id="multipartResolver"
             class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
              &lt;!&ndash; 设置上传文件的最大尺寸为5MB &ndash;&gt;
              <property name="maxUploadSize">
                     <value>5242880</value>
              </property>
       </bean>-->
</beans>